{% extend layout.html%}
{% blocktitle %}
Win WingsXd
{% endblock %}

{% block main %}
        <div>
        <a href="index.html">Inicio</a>
        <a href="about.html">Menu</a>
        <a href="games.html">Promociones</a>
        <a href="youtube.html">Redes Sociales</a>
        </div>
		<h1 style="color:red;">Inicio</h1>
		<p></p>
		<p style="color:green;">¡Bienvenido a la página no oficial de Win Wings!</p>
		</p>
		<p>
		<img src="fotos/win wings caja.jpg" width="300" height="239" alt="Win Wings Caja">
		<img src="fotos/dos wings 1.jpg" width="300" height="239" alt="Dos Wings">
		</p>
		<p>
		<img src="fotos/bbq wings 1.jpg" width="300" height="239" alt="BBQ Wings">
		<img src="fotos/buffalo wings 1.jpg" width="300" height="239" alt="Buffalo Wings">
		</p>
{% endblock %}